* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";

}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

section .main {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(214, 214, 214);
}

a {
    text-decoration: none;
}

/* -------------intro page ---------------- */
.intro {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: rgb(204, 255, 255);
    font-weight: 100;
    display: flex;
    justify-content: center;

}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;

}

.intro-text h5 {
    margin: 1px 0;
    line-height: 1;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5vw;
    font-weight: 300;

}

.center-text {
    top: 50%;
    position: absolute;
    width: 100%;
    transform: translate(0, -50%);
    color: #fff;
}

.intro h1 {

    width: 100%;
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: .3vw;


}

.reveal .parent {
    text-align: center;
    width: 100%;
    display: block;
    overflow: hidden;
}

.reveal .parent .child {
    display: inline-block;
}

.parent .child span {
    display: inline-block;
}

.intro .center-text h1 .italics {
    color: #13c5c8;

}

.loader .container {
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    height: 4vw;
    width: 4vw;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.loader .container span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.loader .container span:nth-of-type(1) {
    filter: blur(4px);
}

.loader .container span:nth-of-type(2) {
    filter: blur(8px);
}

.loader .container span:nth-of-type(3) {
    filter: blur(20px);
}

.loader .container span:nth-of-type(4) {
    filter: blur(40px);
}

.loader .container::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #000000;
    border: solid 5px #000000;
    border-radius: 50%;
}

@keyframes rotate_3922 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.transition-screen {
    position: absolute;
    bottom: 575vh;
    height: 0;
    width: 100vw;
    background-color: #13c5c8;
    z-index: 11;
}

/*------------------ HERO SECTION ----------------- */

section .hero {
    /* position: absolute; */
    height: 175vh;
    width: 100%;
    background-color: #FCFAF8;
    display: flex;
    flex-direction: column;
}

.hero nav {
    width: 100%;
    position: fixed;
    padding: 3vw 6vw;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 3px;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero .hero-text {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;

}

.hero .text {
    width: 100%;
}

.hero .hero-text p {
    text-transform: uppercase;
    padding-top: 2vw;
    font-size: 1vw;
    letter-spacing: 0;
    opacity: .5;
    font-weight: 500;
}

.hero-text h1 {
    color: rgb(54, 53, 53);
    font-size: 13vw;
    font-weight: 500;
    letter-spacing: .01vw;
    line-height: 1;

}

.hero-text .text-1 {
    height: 12vw;
    width: 100%;
    display: flex;
    padding: 0 6vw;
    justify-content: space-between;

}

.hero-text .text-2 {


    right: 0;
    height: 12vw;
    display: flex;
    padding-right: 6vw;
    gap: 3vw;
    justify-content: flex-end;
    align-items: baseline;
}

.reveal-text {
    /* position: absolute; */
    /* height: 0; */
    overflow: hidden;
}

svg {

    width: 15vw;
    overflow: visible;
}

g {
    overflow: hidden;
    /* visibility: hidden; */
}

/* -----------------ABOUT ME--------------- */
.about-me {
    width: 100%;
    margin-top: 25vh;
    padding: 0 6vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.about-me .left-text {
    width: 40%;
    height: auto;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
}

.about-me .left-text span {
    font-family: "Playwrite US Trad", cursive;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #10aeb1;
    font-style: normal;
}

.about-me .right-imgs {
    opacity: 0;
    position: relative;
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    z-index: 1111;
}

.right-imgs .skills {
    position: absolute;
    width: 27vw;
    height: 40vw;
    border-radius: 2vw;
    filter: grayscale();
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    background-color: #aa5656;
}

.right-imgs .skills:hover {
    filter: grayscale(0);
    z-index: 1;
}

.skills:nth-child(1) {
    transform: translate(-25%, -10%) rotate(-25deg);
    background-image: url(./assets/apple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;


}

.skills:nth-child(2) {
    transform: translate(0%, 0%) rotate(-15deg);
    background-image: url(./assets/food\ delivery.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #9c59b68e;
}

.skills:nth-child(3) {
    transform: translate(25%, 10%) rotate(-5deg);
    background-image: url(./assets/weather.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #38434395;
}

/* --------------SKILL section ---------*/
.skill-set {
    padding-top: 150px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    padding: 10vw 0;
}

.skill-set::before {
    content: "";
    position: absolute;
    top: -75px;
    transform: rotate(-180deg);
    width: 100%;
    height: 150px;
    background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
    background-size: cover;
}

.skill-set .elements {
    position: absolute;
    height: 90vh;
    width: 100%;
    padding: 6vw;
    padding-top: 15vw;
}

.skill-set .elements p {
    margin-bottom: 1vw;
    font-size: 2.5vh;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.underline {
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.skill-set .list {
    margin-top: 8vw;
}

.skill-set .bottone1 {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    font-size: 2vw;
    height: 6vw;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #0ee8d6;
    border: none;
    font-family: inherit;

    cursor: pointer;
    transition: 0.4s;
}

.bottone1:hover {
    box-shadow: 7px 5px 56px -14px #00889d;
}

.bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #0074d9;
}

.skill-set .elements .list {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

/*------------------PROJECTS---------------- */
section .projects {
    padding: 8vw 6vw;
    background-color: #F2F2F2;
    height: 400vh;
    width: 100%;
}

.projects h1 {
    color: #454444;
    font-size: 10vw;
    font-weight: 400;
}

.projects h1 span {
    font-family: "Playwrite US Trad", cursive;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #10aeb1;
    font-style: normal;
}

.projects svg {
    stroke: #706c6c93;
    transform: rotate(90deg);
}

.projects .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.projects-imgs {
    width: 100%;
    margin-top: 10vw;
}

.projects-imgs .row-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 4vw;
    /* background-color: #b31e1e; */
}

.projects .img-container-1 {
    width: 40%;
    overflow: hidden;

}

.projects .img-container-1 img {
    width: 100%;
}

.projects .img-container-2 {
    width: 60%;
    overflow: hidden;
}

.projects .img-container-2 img {
    width: 100%;
}